<!-- app/templates/partials/navbar.html -->
{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="{% static 'img/logo.png' %}" alt="Logo" width="200" height="100" class="d-inline-block align-top">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}"><i class="fas fa-home"></i> Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'github' %}"><i class="fab fa-github"></i>GitHub</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'quien_soy' %}"><i class="fas fa-user"></i>Me presento</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contacto' %}"><i class="fas fa-envelope"></i> Contacto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'blog' %}"><i class="fas fa-blog"></i> Blog</a>
                </li>
            </ul>
        </div>
    </div>
</nav>